@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

:root {
  font-family: Hack, monospace;
  font-size: 0.9em;
  color: black; }

ol, ul, li {
  list-style: none; }

p {
  font-size: 1rem;
  line-height: 1.2rem;
  margin: 1rem 0; }

html, body {
  width: 100%; }

body {
  font-size: 1rem; }

.white {
  color: white; }
  .white a, .white a:link, .white a:visited {
    color: white; }
  .white a:hover, .white a:active {
    color: yellow; }

.black {
  color: black; }
  .black a, .black a:link, .black a:visited {
    color: black; }
  .black a:hover, .black a:active, .black a:focus {
    outline: none;
    background-color: #4dffd2; }

:not(img)::-moz-selection {
  color: black;
  background-color: #4dffd2; }

:not(img)::selection {
  color: black;
  background-color: #4dffd2; }

img::-moz-selection {
  background-color: transparent; }

img::selection {
  background-color: transparent; }

html {
  width: 100%;
  height: 100%;
  background-color: black; }

body {
  overflow-x: hidden;
  background-color: transparent;
  height: 100%;
  background-image: url("../images/stars.web.svg");
  background-repeat: no-repeat; }
  @media (orientation: landscape) {
    body {
      display: flex;
      background-position: left 45% top 64%;
      background-size: 120%; } }
  @media (orientation: portrait) {
    body {
      background-position: left 45% top 80%;
      background-size: auto 150%; } }

nav {
  color: white;
  display: flex;
  align-items: center; }
  @media (orientation: landscape) {
    nav {
      height: 100%;
      width: 30%; } }
  @media (orientation: portrait) {
    nav {
      width: 100%; } }
  nav > ul {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto; }
    @media (orientation: portrait) {
      nav > ul > li {
        margin-top: 3rem; } }
    nav > ul > li a:not(#logo) {
      font-size: 1.1rem;
      line-height: 1.6rem;
      text-decoration: none;
      padding: 0.1em 0.6em; }
      nav > ul > li a:not(#logo):hover {
        color: black;
        background-color: white;
        font-weight: bold; }
  nav .project a {
    display: block; }
    nav .project a::before {
      content: "→ "; }
  nav.alone {
    width: 100%; }
    @media (orientation: portrait) {
      nav.alone {
        height: 100%; } }
  nav #logo img {
    max-width: 20rem;
    max-height: 20rem; }
  nav #title {
    position: absolute;
    top: -10em; }

main {
  display: flex; }
  @media (orientation: landscape) {
    main {
      height: 100%;
      width: 70%;
      overflow-y: auto;
      margin-left: auto; }
      main::before {
        content: ' ';
        z-index: -1;
        border-radius: 50%;
        background-color: white;
        position: fixed;
        left: 30vmax;
        top: -30vmax;
        width: 130vmax;
        height: 130vmax; } }
  @media (orientation: landscape) and (max-width: 1200px) {
    main {
      width: 60%; } }
  @media (orientation: portrait) {
    main {
      width: 100%;
      margin-top: 10rem;
      background-color: white; }
      main::before {
        content: ' ';
        z-index: -1;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        left: -25%;
        margin-top: -6rem;
        width: 150vw;
        height: 40rem; } }
  main .container {
    padding: 5rem;
    margin: auto;
    overflow-x: hidden; }
    @media (orientation: landscape) {
      main .container {
        max-width: 50rem; } }
    @media (orientation: landscape) and (max-width: 1200px) {
      main .container {
        max-width: 40rem; } }
    @media (orientation: portrait) {
      main .container {
        max-width: 60rem;
        min-height: 35rem; } }
    @media (orientation: portrait) and (max-width: 600px) {
      main .container {
        padding: 5rem 2rem; } }
  main h2 {
    font-size: 2.75rem;
    font-weight: bold;
    font-style: italic;
    border-bottom: solid black 1rem; }
  main .authors {
    margin-top: 0.5rem; }
  main .website {
    text-align: right;
    margin-top: 2rem; }
    main .website a {
      padding: 0.5rem 1rem; }
      main .website a:link, main .website a:visited {
        background-color: black;
        color: white; }
      main .website a:focus, main .website a:active {
        background-color: #4dffd2;
        color: white; }

.content img {
  max-width: 100%;
  margin: 1rem 0; }
.content blockquote {
  margin: 2rem 3rem;
  font-style: italic;
  font-weight: bold;
  color: black; }
  @media (max-width: 600px) {
    .content blockquote {
      margin: 1.5rem 1rem; } }
  .content blockquote p {
    font-size: 1.25rem;
    line-height: 1.5rem; }
  .content blockquote em {
    font-style: normal; }
.content hr {
  max-width: 50%;
  border: 0;
  border-bottom: dashed black 0.5rem;
  margin: 3rem 0; }
.content h3, .content h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: bold; }
.content h5, .content h6 {
  margin: 1rem 0;
  font-size: 1.25rem; }
.content h2 {
  font-size: 2.25rem;
  display: inline-block;
  border-bottom: solid black 0.5rem; }
  .content h2 a {
    text-decoration: none;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem; }
.content h4 {
  font-size: 1.5rem;
  font-style: italic; }
.content h6::after {
  content: ' ';
  background-color: black; }
.content ul {
  margin: 1rem 0; }
.content li ul {
  margin: 0 0 0 2rem; }
.content li {
  margin-top: .25rem; }
.content li::before {
  content: '■';
  margin-right: .5rem; }
.content li li::before {
  content: '□'; }
.content li li li::before {
  content: '●'; }
.content li li li li::before {
  content: '○'; }
.content ol > li {
  counter-increment: step-counter; }
  .content ol > li::before {
    content: counter(step-counter);
    background-color: black;
    color: white;
    padding: .1rem .25rem;
    margin-bottom: 1rem; }
.content pre, .content p code {
  background-color: black;
  color: white; }
.content p code {
  padding: 0 .5rem; }
.content pre {
  padding: .5rem 1rem;
  margin: 1rem 0; }
.content table {
  margin: 2rem 0;
  border-collapse: collapse; }
  .content table * {
    border: 0.25rem solid black; }
  .content table th, .content table td {
    padding: .5rem; }
  .content table thead {
    background-color: black;
    color: white; }
.content sup {
  background-color: black;
  color: white;
  padding: .1rem .25rem; }

/*┌─╴╭─╮╭╮╷╶┬╴╭─╴
  ├─╴│ ││││ │ ╰─╮
  ╵  ╰─╯╵╰╯ ╵ ╶─╯*/
@font-face {
  font-family: 'Hack';
  src: url("../fonts/hack-regular-webfont.woff2?v=2.020") format("woff2"), url("../fonts/hack-regular-webfont.woff?v=2.020") format("woff"), url("../fonts/hack-regular-webfont.ttf?v=2.020") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Hack';
  src: url("../fonts/hack-bold-webfont.woff2?v=2.020") format("woff2"), url("../fonts/hack-bold-webfont.woff?v=2.020") format("woff"), url("../fonts/hack-bold-webfont.ttf?v=2.020") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Hack';
  src: url("../fonts/hack-italic-webfont.woff2?v=2.020") format("woff2"), url("../fonts/hack-italic-webfont.woff?v=2.020") format("woff"), url("../fonts/hack-italic-webfont.ttf?v=2.020") format("truetype");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Hack';
  src: url("../fonts/hack-bolditalic-webfont.woff2?v=2.020") format("woff2"), url("../fonts/hack-bolditalic-webfont.woff?v=2.020") format("woff"), url("../fonts/hack-bolditalic-webfont.ttf?v=2.020") format("truetype");
  font-weight: 700;
  font-style: italic; }

/*# sourceMappingURL=home.css.map */
