* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: Hack, monospace;
    font-size: 0.9em;
    color: black;
}

ol, ul, li {
	list-style: none;
}

p {
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 1rem 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 1rem;
    display: flex;
    background-color: black;
}


.white {
    a {
        &, &:link, &:visited {
            color: white;
        }
        &:hover, &:active {
            color: yellow;
        }
    }
}

.black {
    a {
        &, &:link, &:visited {
            color: black;
        }
        &:hover, &:active {
            color: yellow;
        }
    }
}
