.content {
    img {
        max-width: 100%;
        margin: 1rem 0;
    }

    blockquote {
        margin: 2rem 3rem;
        @media (max-width: 600px) {
            margin: 1.5rem 1rem;
        }
        font-style: italic;
        font-weight: bold;
        color: $text-color;
        p {
            font-size: 1.25rem;
            line-height: 1.5rem;
        }
        em {
            font-style: normal;
        }
    }

    hr {
        max-width: 50%;
        border: 0;
        border-bottom: dashed $main-neg-color .5rem;
        margin: 3rem 0;
    }

    h3, h4 {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    h5, h6 {
        margin: 1rem 0;
        font-size: 1.25rem;
    }

    h2 {
        font-size: 2.25rem;
        display: inline-block;
        border-bottom: solid $main-neg-color .5rem;

        a {
            text-decoration: none;
            border-top-left-radius: 2rem;
            border-bottom-right-radius: 2rem;
        }
    }

    h4 {
        font-size: 1.5rem;
        font-style: italic;
    }

    h5 {

    }

    h6 {
        &::after {
            content: ' ';
            background-color: $main-neg-color;
        }
    }

    ul {
        margin: 1rem 0;
    }
    li ul {
        margin: 0 0 0 2rem;
    }
    li {
        margin-top: .25rem;
    }

    li::before {
        content: '■';
        margin-right: .5rem;
    }
    li li::before {
        content: '□';
    }
    li li li::before {
        content: '●';
    }
    li li li li::before {
        content: '○';
    }

    ol > li {
        counter-increment: step-counter;
        &::before {
            content: counter(step-counter);
            background-color: $main-neg-color;
            color: $text-neg-color;
            padding: .1rem .25rem;
            margin-bottom: 1rem;
        }
    }

    pre, p code {
        background-color: $main-neg-color;
        color: $text-neg-color;
    }
    p code {
        padding: 0 .5rem;
    }
    pre {
        padding: .5rem 1rem;
        margin: 1rem 0;
    }

    table {
        margin: 2rem 0;
        border-collapse: collapse;
        * {
            border: .25rem solid $main-neg-color;
        }
        th, td {
            padding: .5rem;
        }
        thead {
            background-color: $main-neg-color;
            color: $text-neg-color;
        }
    }

    sup {
        background-color: $main-neg-color;
        color: $text-neg-color;
        padding: .1rem .25rem;
    }
}
