aside {
    margin-top: calc(8vmax - 2.5rem);
    position: sticky;
    top: 6rem;
    height: 20rem;
    border-top: dashed $main-neg-color .5rem;

    @media (orientation: landscape) {
        width: 25%;
    }

    section {
        margin-bottom: 4rem;

        h3 {
            font-size: 1.5rem;
        }
    }

    .hot {
        background-color: $alt-color;
        display: inline-block;
        padding: 0 1rem;
    }
}
