header {
    #logo {
        position: absolute;
        top: 3rem;
        left: 3rem;
        img {
            max-width: 7rem;
            max-height: 7rem;
        }
    }

    #title {
        position: absolute;
        top: -10rem;
    }

    svg {
        position: absolute;
        width: 22.32vmax;
        path {
            fill: $main-neg-color;
        }
    }
}
